
  
  <div class=container>
    <div class="row">
      <div class="col m12">
        <img src="/assets/img/background.jpeg" alt="Burger" height="300px" width="80%">
        <h2>Eat-Da-Burger</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col m6">
        <h5>Menu</h5>

          {{#each burgers}}
            {{#unless this.devoured}}
                <div class="burgerMenu">
                  <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    {{this.burger_name}}
                    <button type="submit" id="devour">Devour?</button>
                  </form> 
                </div>

            {{/unless}}
          {{/each}}
        
      </div>


      <div class="col m6">
        <h5>Devoured!</h5>
       
          {{#each burgers}}
            {{#if this.devoured}}              
              <div>
                <form action="/burgers/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="burgerDevoured">{{this.burger_name}}</button>
                </form>
              </div>  
            {{/if}}
          {{/each}}
        
      </div>
    </div>


  <h5>Add New Burger</h5>
   <div class="row">
    <div class="col m12">
      <form action="/burgers" method="POST">
        <input type="text" id="burg" name="burger_name" placeholder="Create Delicious Burger">
        <button id="addBurger" type="submit">Submit</button>
        <h6>Create a burger you want to eat. Click submit to add burger.</h6>
      </form>
    </div> 
  </div>
</div>